@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Julius+Sans+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&display=swap');

:root {
  --bg-light-blue: #03A9F4;
  --bg-dark-blue: #0051d2;
  --bg-light: #fff;
  --bg-dark: #000;
  --text-dark: #000;
  --text-light: rgb(255, 255, 255);
  --text-dark-blue: #0051d2;
  --text-light-blue: #03A9F4;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  scroll-behavior: smooth;
}

/* Styling the navbar section starts */
.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
  display: flex;
  align-items: center;
  transition: all 0.5s ease;
  box-shadow: 0 3px 3px -3px rgba(0, 0, 0, 0.2);
}

.navbar-scroll {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
  padding: 20px 100px;
  transition: all 0.5s ease;
  background: var(--bg-light);
  box-shadow: 0 4px 4px -4px rgba(0, 0, 0, 0.2);
}

.navbar-brand {
  display: flex;
  align-items: center;
  color: var(--text-dark);
  font-family: 'Julius Sans One', sans-serif;
  font-weight: 300;
  font-size: 25px;
  letter-spacing: 2px;
}

.navbar-brand span {
  display: flex;
  align-items: center;
  color: var(--text-dark-blue);
  font-family: 'Julius Sans One', sans-serif;
  font-weight: 700;
  font-size: 25px;
  letter-spacing: 2px;
  margin-bottom: -2px;
  border-bottom: 2px solid var(--text-dark-blue);
}

.nav-link {
  position: relative;
  color: var(--text-dark);
  position: relative;
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
  font-size: 16px;
}

.nav-link:hover {
  color: var(--text-dark);
}

.nav-link::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0.1em;
  background-color: var(--text-dark-blue);
  opacity: 0;
  transition: opacity 300ms, transform 300ms;
  margin-bottom: -3px;
}

.nav-link::after {
  opacity: 1;
  transform: scale(0);
  transform-origin: center;
}

.nav-link:hover::after,
.nav-link:focus::after{
  transform: scale(1);
}
/* Styling the navbar section ends */

/* Styling the banner section starts */
.banner {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  background: url('https://img.freepik.com/premium-photo/close-up-doctor-front-bright-background_53419-4416.jpg?w=2000');
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
}

.banner-title {
  color: var(--text-dark);
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
  font-size: 40px;
  letter-spacing: 2px;
}

.banner-about {
  background: var(--text-dark-blue);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 20px;
  letter-spacing: 1px;
  line-height: 30px;
}

.banner-text {
  color: var(--text-dark);
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
  font-size: 17px;
  line-height: 28px;
}

.banner-btn-dark {
  display: inline-block;
  color: var(--text-light);
  background: var(--bg-dark-blue);
  padding: 12px 35px;
  outline: none;
  border-radius: 2px;
  transition: all 0.5s ease;
}

.banner-btn-dark:hover {
  background-color: transparent;
  color: var(--text-dark-blue);
}

.banner-btn {
  display: inline-block;
  color: var(--text-dark-blue);
  background: transparent;
  padding: 12px 35px;
  outline: none;
  border: 1px solid var(--text-dark-blue);
  border-radius: 2px;
  transition: all 0.5s ease;
}

.banner-btn:hover {
  background: var(--bg-dark-blue);
  color: var(--text-light);
}
/* Styling the banner section ends */

/* The about styling starts */
.about-title {
  color: var(--text-dark);
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  font-size: 40px;
}

.about-title span {
  color: var(--text-dark-blue);
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 40px;
}

.about-box__title {
  color: var(--text-dark);
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 25px;
}

.about-box__text {
  color: var(--text-dark);
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
  font-size: 15px;
}

.about-box__text span {
  color: var(--text-dark-blue);
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 15px;
  letter-spacing: 2px;
}

.progress-title {
  color: #606060;
  text-decoration: none;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 18px;
  letter-spacing: 2px;
}

.progress {
  height: 5px;
  background: linear-gradient(45deg, red, blue);
}

.progress-bar {
  background: var(--light-blue);
}

.progress-value {
  color: grey;
  text-decoration: none;
  font-weight: 400;
  font-size: 15px;
}

.about-img img{
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  box-shadow: 0 15px 25px rgba(27, 24, 207, 0.6);
  width: 100%;
}

.about-box__first {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 5px;
  margin-bottom: 5px;
}
/* About styling ends */

/* Progress section styling starts */
.diagram {
  padding: 20px 100px;
}

.diagram-title {
  color: var(--dark);
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 30px;
  letter-spacing: 1px;
  margin-bottom: 60px;
}

.diagram-title span {
  color: var(--dark);
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 30px;
  letter-spacing: 1px;
}
/* The progress section styling ends */

/* Styling the advantages section starts */
.advantages {
  background: url('https://media.istockphoto.com/photos/stethoscope-on-blue-background-picture-id866772230?k=20&m=866772230&s=612x612&w=0&h=qe_ECHvyjM6a7NSbEVfWySV-L9kOaWgJD2pfBAR-ZpU=');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  display: flex;
  align-items: center;  
}

.ad-title {
  color: var(--text-dark);
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  font-size: 40px;
}

.card {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 330px;
  padding: 20px 20px;
  border: none;
  border-radius: 5px;
  outline: none;
  transition: all 0.5s ease;
  margin-left: 5px;
}

.ad-icon {
  color: #0051d2;
  font-size: 40px;
}

.card-body {
  color: var(--text-dark);
  margin-top: 5px;
}

.card-title {
  color: var(--text-dark);
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  font-size: 30px;
  letter-spacing: 0px;
  margin-bottom: 5px;
}

.card-text {
  color: var(--text-dark);
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
  font-size: 16px;
  margin-top: 10px;
}

.ad-button-box {
  display: flex;
  align-items: center;
  justify-content: center;
}

.ad-button {
  color: var(--bg-dark-blue);
  background: transparent;
  border: none;
  outline: none;
  transition: all 0.5s ease;
  border-bottom: 2px solid transparent;
  padding-left: 10px;
}

.ad-button:hover {
  background: transparent;
  border: none;
  outline: none;
  color: var(--text-dark-blue);
  border-bottom: 2px solid var(--text-dark-blue);
}

.card:hover {
  box-shadow: inset 0 -8px 10px -7px var(--bg-dark-blue);
}
/* Styling the advantages section ends */

/* Styling questions section starts */
/* Styling questions section ends */

/* Styling the footer section starts */
.contact {
  background-color: rgb(238, 238, 238);
}

.footer-box {
  background-color: rgb(238, 238, 238);
}

.footer {
  color: var(--text-dark);
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 16px;
}

.footer span {
  color: var(--text-dark-blue);
  font-weight: 400;
}

.footer-img{
  border-radius: 5px;
  box-shadow: 0 20px 20px -8px rgba(0, 0, 0, 0.2);
}

.footer-title {
  color: var(--text-dark);
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 40px;
}

.footer-brand {
  display: flex;
  align-items: center;
  color: var(--text-dark);
  font-family: 'Julius Sans One', sans-serif;
  font-weight: 300;
  font-size: 30px;
  letter-spacing: 2px;
}

.footer-brand span {
  display: flex;
  align-items: center;
  color: var(--text-dark-blue);
  font-family: 'Julius Sans One', sans-serif;
  font-weight: 700;
  font-size: 30px;
  letter-spacing: 2px;
  margin-bottom: -2px;
  border-bottom: 2px solid var(--text-dark-blue);
}

.footer-brand-text {
  color: rgb(81, 81, 81);
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 18px;
  margin-top: 20px;
}

.footer-box {
  margin-bottom: -20px;
}

.footer-text span {
  color: var(--text-dark-blue);
}

.fa-linkedin-in {
  background-color: var(--bg-dark-blue);
  color: var(--text-light);
  border-radius: 5px;
  padding: 5px 10px;
  font-size: 23px;
}

.fa-instagram {
  background: linear-gradient(45deg, rgb(255, 0, 0), rgb(0, 0, 255));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: var(--text-light);
  font-size: 23px;
}

.fa-telegram {
  color: var(--text-dark-blue);
  font-size: 23px;
}

.fa-youtube {
  color: red;
  font-size: 23px;
}

.contact-title {
  color: var(--text-dark);
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 20px;
  letter-spacing: 0px;
  margin-bottom: 20px;
}

.address strong{
  color: var(--text-dark-blue);
}

.address span {
  color: var(--bg-dark-blue);
}

.questions-title {
  color: var(--text-dark);
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
  font-size: 30px;
  letter-spacing: 0px;  
}
/* Styling the footer section ends */

/* Media */
@media (max-width: 992px) {

  .navbar-scroll {padding: 20px 5px;}
  .banner-title {padding-top: 80px;}
  .banner-about {margin-top: 10px; margin-bottom: 20px;}
  .banner-btn-dark {padding: 10px 25px; margin-top: 20px;}
  .banner-btn {padding: 10px 25px; margin-top: 20px;}
  .diagram {padding: 20px 20px;}
  .about-box__title {margin-top: 40px;}
  .card {height: 350px;}
  .social {margin-bottom: 30px;}
  .contact-title {margin-top: 20px;}
  .questions-title {margin-top: 40px;}

}